node_modules
dist
.DS_Store

!landing/public/demo/assets/
!landing/public/demo/assets/node_modules/
!landing/public/demo/assets/node_modules/@expo/
!landing/public/demo/assets/node_modules/@expo/vector-icons/
!landing/public/demo/assets/node_modules/@expo/vector-icons/build/
!landing/public/demo/assets/node_modules/@expo/vector-icons/build/vendor/
!landing/public/demo/assets/node_modules/@expo/vector-icons/build/vendor/react-native-vector-icons/
!landing/public/demo/assets/node_modules/@expo/vector-icons/build/vendor/react-native-vector-icons/Fonts/
!landing/public/demo/assets/node_modules/@expo/vector-icons/build/vendor/react-native-vector-icons/Fonts/MaterialCommunityIcons.6e435534bd35da5fef04168860a9b8fa.ttf
!landing/public/demo/assets/node_modules/@expo-google-fonts/
!landing/public/demo/assets/node_modules/@expo-google-fonts/baloo-2/
!landing/public/demo/assets/node_modules/@expo-google-fonts/baloo-2/700Bold/
!landing/public/demo/assets/node_modules/@expo-google-fonts/baloo-2/700Bold/Baloo2_700Bold.f57ab981c1dec25a04bea3cce20ea18c.ttf
!landing/public/demo/assets/node_modules/@expo-google-fonts/baloo-2/800ExtraBold/
!landing/public/demo/assets/node_modules/@expo-google-fonts/baloo-2/800ExtraBold/Baloo2_800ExtraBold.15e8199eb1b3d423d8642f1837b3a9c4.ttf
!landing/public/demo/assets/node_modules/@expo-google-fonts/nunito/
!landing/public/demo/assets/node_modules/@expo-google-fonts/nunito/500Medium/
!landing/public/demo/assets/node_modules/@expo-google-fonts/nunito/500Medium/Nunito_500Medium.04058d9f3583d30ece037e060c5b9721.ttf
!landing/public/demo/assets/node_modules/@expo-google-fonts/nunito/700Bold/
!landing/public/demo/assets/node_modules/@expo-google-fonts/nunito/700Bold/Nunito_700Bold.c133c0b8cd169e7798d0cd239477cf32.ttf
!landing/public/demo/assets/node_modules/@expo-google-fonts/nunito/800ExtraBold/
!landing/public/demo/assets/node_modules/@expo-google-fonts/nunito/800ExtraBold/Nunito_800ExtraBold.2b1bb82750274fc2d1043bf3891cb531.ttf
